@import "../../shared/styles/button.scss";
.datatable{
    .btnsp{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}
.filter {
    .btn-tx{
        text-align: center;
        width: 100%;
    }
}
.ng-star-inserted{
    padding: 5px;
}
