<div class="login">
    <div class="login-container">
        <div class="formgrid grid">
            <div class="field col-12 md:col-12 image-logo">
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p class="text">Cadastre-se</p>
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p-floatLabel >
                    <input pInputText id="entityName" class="w-full" />
                    <label for="entityName">Nome</label>
                </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p-floatLabel >
                    <input pInputText id="entityName" class="w-full" />
                    <label for="entityName">Email</label>
                </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p-floatLabel >
                    <input pInputText id="entityName" class="w-full" />
                    <label for="entityName">Senha</label>
                </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p-floatLabel >
                    <input pInputText id="entityName" class="w-full" />
                    <label for="entityName">Confirmação de senha</label>
                </p-floatLabel>
            </div>
            <div class="outline field col-12 md:col-12">
                <p-button pRipple [outlined]="false"  styleClass="p-button-rounded w-full">
                    <div class="btn-tx">
                    Criar conta
                    </div>
                </p-button>
            </div>
        </div>
    </div>
</div>