.login{
    width: 100vw;
    height: 100vh;
    .login-container{
        border-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.text{
    font-size: 20px;
    font-weight: bold;
}
.text-sign{
    margin-top: 60px;
    text-align: center;
}

a{
    color: blue;
}

.btn-tx{
    text-align: center;
    width: 100%;
}

@media (max-width: 600px){
    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        .login-container{
            height: 50%;
            padding: 10px;
            width: 90%;
            .image-logo{
                height: 80px;
                max-height: 80px;
                background-image: url("./../../../assets/logo/smartverse-10024.png");
                background-size: cover;
                background-position: center;
            }
        }
        
    }
}

:host::ng-deep {
    .p-inputtext{
      background-color: rgba($color: #e9e6e6, $alpha: 0.1);
      border: none;
    }
    .p-button{
      color: rgb(20, 13, 13);
    }
  }