<div class="login">
    <div class="login-container">
        <div class="formgrid grid">
            <div class="field col-12 md:col-12 image-logo">
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p class="text">Login na sua conta</p>
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p-floatLabel >
                    <input pInputText id="entityName" class="w-full" />
                    <label for="entityName">Email</label>
                </p-floatLabel>
            </div>
            <div class="field col-12 md:col-12 c-margin">
                <p-floatLabel >
                    <input pInputText id="entityName" class="w-full" />
                    <label for="entityName">Senha</label>
                </p-floatLabel>
            </div>
            <div class="outline field col-12 md:col-12">
                <p-button pRipple [outlined]="false"  styleClass="p-button-rounded w-full">
                    <div class="btn-tx">
                    Login
                    </div>
                </p-button>
            </div>
            <div class="outline field col-12 md:col-12">
                <p-button pRipple [outlined]="true"  styleClass="p-button-rounded w-full">
                    <div class="btn-tx">
                    Recupere a senha
                    </div>
                </p-button>
            </div>
            <div class="w-full">
                <div class="text-sign">Não possui conta? <a (click)="onSignUp()">Cadastre-se</a></div>
            </div>
        </div>
    </div>
</div>